@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box
}
img{
    width: 100%;
}

header{
    width: 95%;
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

header .forc-image{
    width: 50%;
}
header > div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
header button{
    width: fit-content;
    background-color: #0fb400;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

header .word-chosen{
    display: flex;
    margin-right: 30px;
    margin-bottom: 20px;
}
header .word-chosen h1{
    margin: 0px 3px;
    font-size: 40px;
    font-weight: 700;
}


.letters-guess{
    width: 95%;
    max-width: 800px;
    margin: 0px auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(13,max-content);
    align-items: center;
    justify-content: center;
}
.letters-guess .letter{
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 900;
}
.letters-guess .active{
    background-color: #ade0f5;
    color: #309ac4;
}
.letters-guess .deactive{
    background-color: #b3b3b3;
    color:#6d6d6d;
}

.word-guess{
    display: flex;
    max-width: 600px;
    width: 90%;
    margin: 30px auto;
    align-items: center;
    justify-content: space-between;
}

.word-guess input{
    padding: 5px;
    border-radius: 5px;
    background-color: #f3f3f3;
    width:50%;
    border: 2px solid #e4e4e4;
    outline: none;
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 500;
}
.word-guess input :hover{
    background-color: #ffffff;
    border: 2px solid #ee0000;
}
.word-guess button{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #ade0f5;
    color: #128cbd;
}

@media (max-width:700px){
    .letters-guess{
        display: flex;
        flex-wrap: wrap;
    }
}
